<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./css/secret.css">
</head>

<body>
    <div class="wrapper">

        <!-- sidebar -->
        <%- include('./partials/admin_sidebar.ejs') %>

            <div class="main">

                <!-- navabr -->
                <%- include('./partials/navbar.ejs') %>


                    <main class="content px-3 py-2">
                        <div class="container-fluid">
                            <div class="mb-3">
                                <h4>Dashboard</h4>
                            </div>
                            <% if(tUser.role=='admin' ){ %>

                                <div class="col-12 d-flex gap-3 mb-3" id="users">
                                    <button id="userBtn" class="sidebar-link btn btn-success">Active Users</button>

                                    <button id="inactUser" class="sidebar-link btn btn-danger">Inactive Users</button>
                                </div>

                                <!-- active user list  -->
                                <div class="row" id="userList">
                                    <div class="col-12 col-md-6 d-flex">

                                    </div>
                                    <div class="col-12 col-md-6 d-flex">

                                    </div>
                                    <!-- Table Element -->
                                    <div class="card border-0">

                                        <div class="card-body table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <!-- <th scope="col">#</th> -->
                                                        <th scope="col">FirstName</th>
                                                        <th scope="col">LastName</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Mobile</th>
                                                        <th scope="col">Gender</th>
                                                        <th scope="col">Role</th>
                                                        <th scope="col">Block</th>
                                                        <th scope="col">Update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- need to add users info via mongo db -->
                                                    <% allUsers.forEach((i)=>{ %>
                                                        <tr>
                                                            <!-- <td>

                                                        </td> -->
                                                            <td>
                                                                <%= i.firstname %>
                                                            </td>
                                                            <td>
                                                                <%= i.lastname %>
                                                            </td>
                                                            <td>
                                                                <%= i.email %>
                                                            </td>
                                                            <td>
                                                                <%= i.mobile %>
                                                            </td>
                                                            <td>
                                                                <%= i.gender %>
                                                            </td>
                                                            <td>
                                                                <%= i.role %>
                                                            </td>

                                                            <td>
                                                                <form action="/block" method="post">
                                                                    <input type="hidden" name="thatUserID"
                                                                        value="<%=i._id%>">
                                                                    <button type="submit"
                                                                        class="btn btn-danger btn-sm">Block</button>
                                                                </form>
                                                            </td>
                                                            <td>
                                                                <form action="/updateU" method="post">
                                                                    <input type="hidden" name="thatUserID"
                                                                        value="<%=i._id%>">
                                                                    <button type="submit"
                                                                        class="btn btn-warning btn-sm">Update</button>
                                                                </form>
                                                            </td>
                                                        </tr>

                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- inactive users -->
                                <div class="row" id="blockUser">
                                    <div class="col-12 col-md-6 d-flex">

                                    </div>
                                    <div class="col-12 col-md-6 d-flex">

                                    </div>
                                    <!-- Table Element -->
                                    <div class="card border-0">

                                        <div class="card-body table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">FirstName</th>
                                                        <th scope="col">LastName</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Mobile</th>
                                                        <th scope="col">Gender</th>
                                                        <th scope="col">Role</th>
                                                        <th scope="col">Block</th>
                                                        <!-- <th scope="col">Update</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- need to add users info via mongo db -->
                                                    <% blockUsers.forEach((i)=>{ %>
                                                        <tr>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                <%= i.firstname %>
                                                            </td>
                                                            <td>
                                                                <%= i.lastname %>
                                                            </td>
                                                            <td>
                                                                <%= i.email %>
                                                            </td>
                                                            <td>
                                                                <%= i.mobile %>
                                                            </td>
                                                            <td>
                                                                <%= i.gender %>
                                                            </td>
                                                            <td>
                                                                <%= i.role %>
                                                            </td>
                                                            <td class="d-flex gap-2">
                                                                <!-- <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                                                data-bs-target="#exampleModal">
                                                                Edit
                                                            </button> -->
                                                                <form action="/unblock" method="post">
                                                                    <input type="hidden" name="thatUserID"
                                                                        value="<%=i._id%>">
                                                                    <button type="submit"
                                                                        class="btn btn-info btn-sm">Unblock</button>
                                                                </form>
                                                            </td>
                                                            <!-- <td>
                                                            <button class="btn btn-warning btn-sm">Update</button>
                                                        </td> -->
                                                        </tr>

                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <%}%>
                        </div>
                    </main>
                    <!-- <a href="#" class="theme-toggle">
                        <i class="fa-regular fa-moon"></i>
                        <i class="fa-regular fa-sun"></i>
                    </a> -->
                    <%- include('./partials/footer.ejs') %>
            </div>
    </div>

    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>